RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{REQUEST_URI} \.(gif|jpg|png|jpeg|mp4)$ [NC]
RewriteRule ^index\.php/(.*)$ http://rumahtinggal.id/$1 [R=301,L]

Options -Indexes
    



